<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Product Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/navBar.css'>
    <script src='main.js'></script>
</head>
<body>
    <div id="container">
        <div id="nav-container">
            <header id="header" ><a href="#">Tênis Zone</a></header>
            <nav>
                <div id="nav-items">
                    <a href="#">Masculino</a>
                    <a href="#">Feminino</a>
                </div>
            </nav>
        </div>
        <div class="sidebar" id="sidebar">
            <button class="close-btn" onclick="toggleSidebar()">x</button>
            <a href="/home" class="home-button"><i class="bi bi-house"></i></a>
            <a href="#">Masculino</a>
            <a href="#">Feminino</a>
        </div>
</body>
</html>