@import "bootstrap-icons/font/bootstrap-icons.css";


#nav-container{
    width: 100%;
    height: 70px;
    background-color: #52c4db;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  #header{
    font-size: 18px;
    font-weight: bold;
  }
  
  #header a{
    text-decoration: none;
    color: #fff;
  }
  
  #nav-items{
    display: flex;
    gap: 20px;
    text-decoration: none;
    color: #fff;
  }
  
  #nav-items a{
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
  }
  
  #nav-items a:hover{
    color: #000;
  }

  .bi{
    font-size: 35px;
    color: #fff;
    text-decoration: none;
  }

  #sidebar .bi{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
  }

  #sidebar .bi:hover{
    color: #000;
  }

  .bi:hover{
    color: #000;
    transition: 0.5s;
  }

  
  
/* Sidebar */
.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px; /* Começa oculta */
  background-color: #52c4db;
  padding-top: 30px;
  transition: left 0.3s ease;
  z-index: 100000;
}

/* Links da sidebar */
.sidebar a {
  padding: 05px;
  font-size: 15px;
  margin-left: 10px;
  display: block;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #000;
  transition: 0.5s;
}

/* Botão de fechar */
.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Botão de abrir */
.open-btn {
  font-size: 24px;
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #52c4db;
  border: none;
  color: black;
  cursor: pointer;
}

/* Botão Home */
/* .home-button{
  margin-bottom: 05px;
} */

/* .logout-button{
  margin-top: 05px;
} */

#sidebar .bi-box-arrow-right{
  margin-left: 04px;
}